<div class="container-fluid p-5">
    <div class="row text-white p-4">
       <div class=" col-sm-1 col-md-2 col-lg-4 text-center text-white">
        <h2 class="fw-bolder ">LOCATION</h2>
        <p>2215 John Daniel Drive</p>
        <span>Clark, MO 65243</span>
       </div>
       <div class="col-sm-1 col-md-2 col-lg-4 text-center">
        <h2 class="fw-bolder">AROUND THE WEB</h2>
        <div>
          <span class="p-1"><i class="fa-brands fa-facebook icon"></i></span>  
            <span class="p-1"><i class="fa-brands fa-twitter icon"></i></span>
           <span class="p-1"><i class="fa-brands fa-linkedin-in icon"></i></span> 
           <span class="p-1"> <i class="fa-solid fa-globe icon"></i></span>       
 </div>
       </div>
       <div class="col-sm-1 col-md-2 col-lg-4 text-center">
        <h2 class="fw-bolder">ABOUT FREELANCER</h2>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      
       </div>
    </div>
    
</div>
<div class="end p-4">
  <p class="text-center  ">Copyright © Your Website 2021</p>
</div>






