.container-fluid
{
    background-color: #2C3E50;;
}
.icon
{
    width: 40px;
    height: 40px;
    border: 1px white solid;
    border-radius: 50%;
    align-content: center;
}
.end
{
    background-color: #1A252F;
    color: white;
}